[submodule "frontend"]
	path = frontend
	url = https://github.com/dryairship/online-election-manager-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/dryairship/online-election-manager-backend.git
[submodule "result-calculator"]
	path = result-calculator
	url = https://github.com/dryairship/online-election-manager-result-calculator.git
