body,html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #60a3bc !important;
}
.user_card {
	width: 450px;
	margin-top: auto;
	margin-bottom: auto;
	background: #f39c12;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
.iitk_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #60a3bc;
	padding: 10px;
	text-align: center;
}
.iitk_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}
.form_container {
	margin-top: 100px;
}
.image_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: indigo;
	padding: 10px;
	text-align: center;
}
.round_image{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}
.login_btn {
	width: 100%;
	background: #c0392b !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #c0392b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}
.post {
	background: indigo;
	border-radius:20px;
	margin-bottom:30px;
	margin-left:30px;
	margin-right:30px;
}
.welcomed {
	margin-left:20px !important;
	margin-right:20px !important;
}
.postname {
	margin-top: 20px !important;
	margin-bottom: 40px !important;
	margin-left:20px !important;
	margin-right:20px !important;
	width:100%;
}
#postsTable {
	display: table !important;
	background-color:teal;
	border-radius:30px;
	width:98%
}
